<div
  class="sm:sticky z-2 inset-x-0 top-0 text-center text-xs sm:text-sm font-semibold bg-[#f6ff92] text-[#2e3201] py-2 sm:h-10 flex items-center justify-center px-2"
  up-fixed="top"
>
  <p>
    Help shape what we build next. Take the
    <a href="https://tally.so/r/obgR8M" target="_blank" class="underline">
      AdonisJS developer survey.
    </a>
  </p>
</div>
